doctype
html
head
  title Datasole App
body
  h1 Datasole Project

  div(class="pull-right")
    h3 Data Console
    pre
      code(id="data-console")
      
  h3 Config mode = #{MODE}
  p The following constants were injected at compile-time by Webpack:    
  pre
    code= CONFIG
